#logo
    height: 32px
    margin: 16px
    background: url('../../img/stockpile-wht.png')
    background-size: 32px 32px
    background-repeat: no-repeat
    background-position: center
    opacity: 95%

#sidebarMain
    background: rgb(142,68,173)
    background: linear-gradient(0deg, rgba(142,68,173,1) 0%, rgba(52,152,219,1) 100%)

#sidebarMainUl
    background: none
