@import '~antd/dist/antd.css'
@import './components/auth/auth.sass'
@import './components/sidebar/Sidebar.sass'
@import './components/collection/Collection.sass'
@import './components/gear/Gear.sass'
@import './variables.sass'

.site-layout .site-layout-background
    background: white

.ant-btn-primary
    background: $blue

.ant-btn-dangerous.ant-btn-primary
    background: $red
