@import '~antd/dist/antd.css'
@import './components/auth/auth.sass'
@import './components/sidebar/Sidebar.sass'

.site-layout .site-layout-background
    background: white

#sidebarMain
    background: rgb(142,68,173)
    background: linear-gradient(0deg, rgba(142,68,173,1) 0%, rgba(52,152,219,1) 100%)

#sidebarMainUl
    background: none

.ant-layout-sider-trigger
    background: #2c3e50

.ant-menu-item-selected
    background: #2c3e50 !important
