.ant-layout-sider-trigger
    background: #2c3e50

.ant-menu-item-selected
    background: #2c3e50 !important

.collection-row
    background: white
    padding: 24px

.form-container-c
    background: white
    padding: 24px

.form-btns-container
    margin-bottom: 0

.form-btns
    margin-right: 16px
